<tr>
  <td><%= link_to subject.name, 
          admin_subject_path(subject) %></td>
  <td><%= subject.lessons_count %></td>
  <td><%= subject.created_at.strftime("%Y-%m-%d") %></td>
  <td><%= subject.popularity %></td>
  <td><%= subject.published? ? "Opublikowany" : "Szkic" %></td>
  <td>
    <!-- TODO: Add confirmation -->
    <%= link_to "Usuń", 
                admin_subject_path(subject), 
                method: :delete %>
    <%= link_to "Edytuj", 
                edit_admin_subject_path(subject) %>
    <%= link_to "Opublikuj",
          publish_admin_subject_path(subject) unless subject.published? %>
  </td>
</tr>