<% if @splash %>
  <section id="home-splash">
  	<div class = "container">

  		<h1>Witamy<br />w platformie ePUEPS</h1>

  		<%= link_to "Przeglądaj kursy", 
  								subjects_path, 
  								class: "button button-secondary" %>
      <% if user_signed_in? %>
        <%= link_to "O platformie", '#', class: "button button-primary" %>
      <% else %>
  		  <%= link_to "Zaloguj się", 
                  new_user_session_path,
                  class: "button button-primary" %>
      <% end %>

  	</div>
  </section>
<% end %>

<div class="page-content">
	<section id = "home-subjects">
		<h1>Dostępne kursy</h1>
		<div class = "container">
			<%= render @subjects %>

		</div>
		<!-- TODO: Do something to make this look nice -->
		<%= link_to "Wszystkie kursy", 
								subjects_path,
								class: "button button-secondary" %>
	</section>

	<section id="home-articles">
		<div class="container">
			<h1>Najnowsze artykuły</h1>
		</div>
			
	</section>
</div>
