<tr>
  <td><%= link_to lesson.name, 
                  admin_subject_lesson_path(@subject, lesson) %></td>
  <!-- TODO: Optimize this(Too many queries) -->
  <td><%= lesson.videos_count %></td>
  <td><%= lesson.created_at.strftime("%Y-%m-%d") %></td>
  <td>
    <!-- TODO: Add confirmation -->
    <%= link_to "Usuń", 
                admin_subject_lesson_path(@subject, lesson),
                method: :delete %>
    <%= link_to "Edit",
                edit_admin_subject_lesson_path(@subject, lesson) %>
  </td>
</tr>