<% provide :title, @lesson.name %>


<section class="admin-panel">
  
  <h2><%= link_to @subject %></h2>
  <h1><%= @lesson %></h1>


  <div class="lesson-options">
    <%= link_to "Dodaj film", 
                new_admin_subject_lesson_video_path(@subject, @lesson),
                class: "button button-secondary" %>
    <!-- TODO: Add confirmation -->
    <%= link_to "Usuń", 
                admin_subject_lesson_path(@subject, @lesson),
                method: :delete,
                class: "button button-secondary" %>
    <%= link_to "Edytuj",
                edit_admin_subject_lesson_path(@subject, @lesson),
                class: "button button-secondary" %>
  </div>

  <h2>Filmy</h2>

  <table class="primary-table">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Adres filmu</th>
        <th>Tylko dla zalogowanych</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <%= render @videos %>
    </tbody>
  </table>
</section>