<% provide :title, "Wszyscy użytkownicy" %>

<section class = "users-index">
  <h1>Wszyscy użytkownicy</h1>

  <section class="search">
    <%= form_tag '/users', method: :get do %>
      <%= search_field_tag 'search'  %>
      <%= submit_tag 'Szukaj' %>
    <% end %>

    <% unless @search_params.nil? %>
      <div class="search-params">
        Kryteria: <%= @search_params %>
      </div>
    <% end %>
  </section>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Ostatnio zalogowany</th>
        <th>IP logowania</th>
        <th>Administrator</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</section>