<% provide :title, "#{@subject.name} - informacje" %>

<h1><%= @subject.name %> - informacje o przedmiocie</h1>

<div class="subject-info-content">
  <section class="table-of-contents">
    <h2>Dostępne lekcje</h2>
    <%= render partial: 'subjects/table_of_contents',
        locals: {lessons: @lessons, subject: @subject} %>
  </section>
  <section class="description">
    <h2>Opis przedmiotu</h2>
    <p><%= @subject.description %></p>
  </section>
  <section class="intro-video">
    <iframe
      class = "lesson-video"
      src = <%= @subject.intro_video_link %> allowfullscreen>

      </iframe>
  </section>

  <%= link_to "Zacznij kurs", 
              subject_path(@subject), 
              class: "button button-primary" %> 
</div>