<h1>
	<%= @subject.name %>	
</h1>

<!-- TODO: Add class to active lesson menu position -->


<div class = "subject-page">

	<div class="main-subject-content">
		<ul class="lesson-menu">
			<%= render @lessons %>
		</ul>

		<div class ="video">
			<%= render partial: 'lessons/lesson_video', 
					locals: {lesson: @current_lesson} %>
		</div>
</div>


<aside class="subject-description">
	<h2>Opis przedmiotu </h2>
	<%= @subject.description %>
</aside>

<aside class="lesson-description">
	<%= render partial: 'lessons/lesson_description', 
				locals: {lesson: @current_lesson} %>
</aside>

</div>