<tr>
  <td><%= user.email %></td>
  <td><%= user.last_sign_in_at %></td>
  <td><%= user.last_sign_in_ip %></td>
  <td><%= user.admin? ? "tak" : "nie" %></td>

  <!-- TODO: Add confirmation -->
  <td><%= link_to "Usuń", admin_user_path(user), 
            method: :delete unless user == current_user %></td>
</tr>