<aside class="admin-sidebar">
  <ul>
    <li><%= link_to image_tag("admin_panel/index.png"),
              admin_path %></li>
    <li><%= link_to image_tag("admin_panel/subjects.png"), 
              admin_subjects_path %></li>
    <li><%= link_to image_tag("admin_panel/users.png"), 
              admin_users_path %></li>
    <li><%= link_to 'Artykuły',  
              admin_articles_path %></li>
    <li><%= link_to image_tag("admin_panel/return.png"), 
              root_path %></li>
  </ul>
</aside>