
<header id = "page-header">
	<div class = "container">
		<div id="logo"><%= link_to "ePUEPS", root_path %></div>

		<nav id="main-menu">
			<ul>
				<li><%= link_to "Wszystkie przedmioty", subjects_path %></li>
				<li><%= link_to "Wszystkie lekcje", '#' %></li>
				<li><%= link_to "O platformie", '#' %></li>
				<li><%= link_to "Zaloguj się", '#' %></li>
			</ul>
		</nav>
	</div>
</header>

<section id="flash-messages" class = "container">
	
		<% flash.each do |type, msg| %>

			<%= content_tag :div, class: "alert alert-#{type}" do %>
				<%= msg %>
				<span class="close-div">x</span>
			<% end %>
		<% end %>
		
</section>

<% unless @splash %>
	<div class = "container">
<% end %>